@model VisionTake.Entities.TblNews
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>News</h2>
            <ol>
                <li><a href="@Url.Action("Index","Home")">Home</a></li>
                <li><a href="@Url.Action("Index","Product")">News</a></li>
                <li>Details</li>
            </ol>
        </div>

    </div>
</section><!-- End Breadcrumbs -->
<!-- ======= Blog Single Section ======= -->
<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row">

            <div class="col-lg-8 entries">

                <article class="entry entry-single">

                    <div class="entry-img">
                        <img src="@Url.Content("~/Images/" + Model.ImageUrl)" alt="" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="#">Date : @Model.CreateDate</a>
                    </h2>
                    <h3 class="entry-title">
                        <a href="#">Title : @Model.NewsTitle</a>
                    </h3>
                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="@Url.Action("Index","Home")">Vision Teke</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="@Url.Action("Index","Home")"><time datetime="2020-01-01">@Model.TimeStamp</time></a></li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            @Model.NewsDescription
                        </p>
                    </div>

                    <div class="entry-footer">
                        <i class="bi bi-folder"></i>
                        <ul class="cats">
                            <li><a href="#">3D Printing</a></li>
                        </ul>

                        <i class="bi bi-tags"></i>
                        <ul class="tags">
                            <li><a href="#">Brest Surgery</a></li>
                            <li><a href="#">Cardiothoracic Surgery</a></li>
                            <li><a href="#">Gynecological Department</a></li>
                        </ul>
                    </div>

                </article><!-- End blog entry -->

                <div class="blog-comments">

                    <div class="reply-form">
                        <h4>Request For Quote</h4>
                        <p>Enter Your Valid Information for Later Connecting</p>
                        <p style="color:red">@ViewBag.message</p>
                        <form action="@Url.Action("Create","TblContacts")" method="post">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input name="name" type="text" class="form-control" placeholder="Your Name*">
                                </div>
                                <div class="col-md-6 form-group">
                                    <input name="Email" type="text" class="form-control" placeholder="Your Email*">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col form-group">
                                    <input name="MobileNo" type="text" class="form-control" placeholder="Mobile Number">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col form-group">
                                    <textarea name="Message" class="form-control" placeholder="Your Message*"></textarea>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Post Comment</button>

                        </form>

                    </div>

                </div><!-- End blog comments -->

            </div><!-- End blog entries list -->
        </div>

    </div>
</section><!-- End Blog Single Section -->