@model IEnumerable<VisionTake.Entities.TblNews>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- begin row -->
<div class="row">
    <div class="col-md-12 m-b-30">
        <!-- begin page title -->
        <div class="d-block d-sm-flex flex-nowrap align-items-center">
            <div class="page-title mb-2 mb-sm-0">
                <h1>Dashboard</h1>
            </div>
            <div class="ml-auto d-flex align-items-center">
                <nav>
                    <ol class="breadcrumb p-0 m-b-0">
                        <li class="breadcrumb-item">
                            <a href="@Url.Action()"><i class="ti ti-home"></i></a>
                        </li>
                        <li class="breadcrumb-item">
                            News
                        </li>
                        <li class="breadcrumb-item active text-primary" aria-current="page">List</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- end page title -->
    </div>
</div>
<!-- end row -->
<div class="row">
    <div class="col-md-12 m-b-30">
        <a href="@Url.Action("Create","News")" class="btn btn-info">Add New News</a>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="datatable-wrapper table-responsive">
                    <table id="datatable" class="display compact table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    News Title
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Image
                                </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NewsTitle)
                                    </td>
                                    <td>
                                        @if (item.NewsDescription != null)
                                        {
                                            @(item.NewsDescription.Length > 200 ? item.NewsDescription.Substring(0, 100) : item.NewsDescription)
                                        }
                                        else
                                        {

                                            @item.NewsDescription
                                        }
                                    </td>
                                    <td>
                                        <img src="@Url.Content("~/Images/" + item.ImageUrl)" style="height:100px;width:100px" />
                                    </td>
                                    <td class="btn-group">
                                        <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-info">Edit</a> 
                                        <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-primary">Details</a> 
                                        <button type="button"  data-id="@item.ID" class="btn btn-danger newsDeleteBtn">Delete</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
        $(".newsDeleteBtn").click(function () {
      debugger;
      var result = confirm("Are you sure delete this");
      if (result == true) {

          $.ajax({
              url: "@Url.Action("DeleteConfirmed", "News")",
              method: "post",
              data: {

                  ID: $(this).attr("data-id")
              }
          }).done(function (response) {
              debugger;
               window.location.href = "@Url.Action("Index", "News")";
             // $("#listingArea").html(response);
          });
      }
  });
</script>