@model IEnumerable<VisionTake.Entities.TblSlider>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- begin row -->
<div class="row">
    <div class="col-md-12 m-b-30">
        <!-- begin page title -->
        <div class="d-block d-sm-flex flex-nowrap align-items-center">
            <div class="page-title mb-2 mb-sm-0">
                <h1>Dashboard</h1>
            </div>
            <div class="ml-auto d-flex align-items-center">
                <nav>
                    <ol class="breadcrumb p-0 m-b-0">
                        <li class="breadcrumb-item">
                            <a href="@Url.Action()"><i class="ti ti-home"></i></a>
                        </li>
                        <li class="breadcrumb-item">
                            Slider
                        </li>
                        <li class="breadcrumb-item active text-primary" aria-current="page">List</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- end page title -->
    </div>
</div>
<!-- end row -->
<div class="row">
    <div class="col-md-12 m-b-30">
        <a href="@Url.Action("Create","Slider")" class="btn btn-info">Add New Slider</a>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="datatable-wrapper table-responsive">
                    <table id="datatable" class="display compact table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Title
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Image
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SliderTitle)
                                    </td>
                                    <td>
                                        @if (item.SliderDescription != null)
                                        {
                                            @(item.SliderDescription.Length > 50 ? item.SliderDescription.Substring(0, 49) : item.SliderDescription)
                                        }
                                        else {
                                            @item.SliderDescription
                                        }
                                        @*@Html.Raw((item.SliderDescription.Length > 200 ? item.SliderDescription.Substring(0, 100) : item.SliderDescription))*@
                                    </td>
                                    <td>
                                        <img src="@Url.Content("~/Images/" + item.ImageUrl)" style="height:100px;width:100px" />
                                    </td>
                                    <td class="btn-group">
                                        <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary">Edit</a>
                                        <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-info">Details</a>
                                        <button type="button" asp-action="DeleteConfirmed" asp-route-id="@item.ID" data-id="@item.ID" class="btn btn-danger sliderDeleteBtn">Delete</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(".sliderDeleteBtn").click(function () {
      debugger;
      var result = confirm("Are you sure delete this");
      if (result == true) {

          $.ajax({
              url: "@Url.Action("DeleteConfirmed", "Slider")",
              method: "post",
              data: {

                  ID: $(this).attr("data-id")
              }
          }).done(function (response) {
              debugger;
               window.location.href = "@Url.Action("Index", "Slider")";
             // $("#listingArea").html(response);
          });
      }
    });
</script>
