@model VisionTake.ViewModels.ListingProduct
@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>Products</h2>
            <ol>
                <li><a href="@Url.Action("Index","Home")">Home</a></li>
                <li>Products</li>
            </ol>
        </div>

    </div>
</section><!-- End Breadcrumbs -->
<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
        <h1 style="text-align:center">Our Products</h1>
        <div class="row">
            @foreach (var item in Model.Products)
            {
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box iconbox-blue">
                        <div class="bg-image hover-zoom">
                            <a href="@Url.Action("Detail","Product",new { ID=item.ID})"><img src="@Url.Content("~/Images/" + item.ImageUrl)" class="img-fluid w-100" alt="" style="width: 356px; height: 231px; border-radius: 5px;"></a>
                        </div>
                        <h4><a href="">@item.ProductName</a></h4>
                        <p>@(item.Description.Length > 200 ? item.Description.Substring(0, 199) : item.Description)</p>
                    </div>
                </div>
            }
        </div>
    </div>
</section><!-- End Services Section -->